<!doctype html>
<html xmlns:ng="http://angularjs.org" lang="en">
  <head id="head"><title>Dropbox Text Editor</title><meta charset='utf-8'><meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'><meta content='' name='description'><meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<!--[if lte IE 8]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script>
      // The ieshiv takes care of our ui.directives, bootstrap module directives and 
      // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
      // However, IF you have custom directives (yours or someone else's) then
      // enumerate the list of tags in window.myCustomTags

      window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
    </script>
    <script src="js/angular-ui-ieshiv.js"></script>
    <![endif]-->						    
<script src="http://localhost:9090/skewer"></script>
<link rel="stylesheet" type="text/css" href="css/normalize.css"><link rel="stylesheet" type="text/css" href="css/h5bp.css"><link rel="stylesheet" type="text/css" href="css/bootstrap.css"><link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"><link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.2.custom.css"><link rel="stylesheet" type="text/css" href="css/angular-ui.css"><link rel="stylesheet" type="text/css" href="css/main.css">
</head>
  <body id="ng:app" ng:app="myApp" ><!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="container" ng-controller="MainCntl">
  
  <div class="row">
    <div class="span10">
      {{userInfo.name}}
    </div>
    <div class="span2">
      <button id="signin-button" ng-hide="authenticated" ng-click="signin()" class="btn">Sign in to dropbox</button>
      <button id="signout-button" ng-show="authenticated"
	      ng-click="signout()" class="btn">Sign out of dropbox</button>
    </div>
  </div>
  <div class="row">
    <h3 class="span12">{{fileName}}</h3>
   </div> 
  
  <div class="row">
    <div class="span12">
      <em><span ng-repeat="entry in pathArray">/<a href="#" ng-click="fileClick(entry)">{{entry.realName}}</a></span></em>
    </div>
  </div>
  <div class="row">
    <div id="sidebar" class="span2">
      <div class="well">
	<ul>
	  <li ng-repeat="entry in entries">
	    <a ng-href="#" ng-click="fileClick(entry)">{{entry.name}}</a>
	  </li>
	</ul>
	
      </div>
      
    </div>
    <div class="span10">
      <textarea id="myeditor"></textarea>
    </div>

  </div>
</div>
<script type="text/javascript" src="thirdpartyjs/jquery-1.9.1.min.js"></script><script type="text/javascript" src="thirdpartyjs/noconsole.js"></script><script type="text/javascript" src="thirdpartyjs/bootstrap.js"></script><script type="text/javascript" src="thirdpartyjs/angular.min.js"></script><script type="text/javascript" src="thirdpartyjs/angular-ui.js"></script><script type="text/javascript" src="thirdpartyjs/ui-bootstrap-tpls-0.2.0.js"></script><script type="text/javascript" src="thirdpartyjs/modernizr.js"></script><script type="text/javascript" src="thirdpartyjs/tinymce/tinymce.min.js"></script><script type="text/javascript" src="thirdpartyjs/tinymce/jquery.tinymce.min.js"></script><script type="text/javascript" src="thirdpartyjs/dropbox.js"></script>
<script type="text/javascript" src="js/tinymce_settings.js"></script><script type="text/javascript" src="js/angular.js"></script>
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src='//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>	
